<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Log in</title>
</head>
<body>
    <a href="log-in"><button>Log in</button></a>
    <a href="sign-up"><button>Sign up</button></a>
    <form action="/log-in" method="POST">
        <label for="username">Username</label>
        <input name="username" placeholder="JohnnyBoy" type="text" />
        <label for="password">Password</label>
        <input name="password" type="password" />
        <button>Log in</button>
    </form>
    <% if (errors) { %>
        <ul>
          <% errors.forEach(function(error){ %>
            <li> <%= error.msg %></li>
          <% }) %>
        </ul>
    <% } %>
</body>
</html>