<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Sign-Up</title>
</head>
<body>
    <form action="/sign-up" method="POST">
        <label for="firstname">First Name</label>
        <input name="firstname" placeholder="John" type="text" />
        <label for="lastname">Last Name</label>
        <input name="lastname" placeholder="Smith" type="text" />
        <label for="username">Username</label>
        <input name="username" placeholder="JohnnyBoy" type="text" />
        <label for="password">Password</label>
        <input name="password" type="password" />
        <label for="confirmpassword">Confirm Password</label>
        <input name="confirmpassword" type="password" />
        <button>Sign Up</button>
    </form>
</body>
</html>